.git
.gitignore
.github

.env
.env.*

Readme.md
docker-compose.yml

client
diagnosis
static-server
infra
deploy
docs
scripts
current_change

services/*
!services/user-service
!services/user-service/**

**/node_modules
**/.next
**/dist
**/build
**/.cache
**/coverage
**/*.log
**/.DS_Store
